$primary-color: #fff;
$black-primary-color: #1c1819;
$blue-primary-color: #2a81dd;
$blue-lighter: #d6ecfb;
$red-color: #f33;
$gray-color: #888b94;
$green-color: #64bd38;
$payed-blue-color: #e9f2fb;
$payed-yellow-color: #fffae7;
$payed-green-color: #eff8eb;
$font-regular: 400;
$font-semi-bold: 600;
$extra-small-font-size: 13px;
$small-font-size: 14px;
$medium-font-size: 16px;
$medium-large-font-size: 18px;
$large-font-size: 20px;
$extra-large-font-size: 24px;
